@{
    Layout = "Shared/_Layout.cshtml";
}
<h2>Add new category</h2>
<form action="/categories/new" method="post">
  <label for="category-name">category name:</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
