@{
    Layout = "Shared/_Layout.cshtml";
}
<h2>Edit Category</h2>
<form action="/category/@Model.GetId()/updated" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="category-name">category name:</label>
  <input id="category-style" name="category-style" type="text">
  <button type="submit">Edit</button>
</form>

<h2>Delete Category</h2>
<form action="/categories/@Model.GetId()/deleted" method="post">
  <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
