@{
    Layout = "Shared/_Layout.cshtml";
}
<h4>Add new category</h4>
<form action="/categories/new" method="post">
  <input id="category-name" name="category-name" type="text" placeholder="Category Name">
  <button type="submit" class="hollow button success">Add</button>
</form>
<a href="/" class="hollow button">Home</a>
