@{
    Layout = "Shared/_Layout.cshtml";
}

<h4><a href="/categories">View Categories</a></h4>
<h4><a href="/recipes">View Recipes</a></h4>

<h4><a href="/categories/new">Add a new category</a></h4>
<h4><a href="/recipes/new">Add a new recipe</a></h4>

<form action="/searched_recipes" method="post">
  <input type="text" name="searched-recipes" placeholder="Search Recipe by Ingredient">
  <button class="hollow button">Search</button>
</form>
