#slide-1 {
  background-color: yellow;
}

#offCanvasLeft {
  background-color: black;
  color: #f0d9f7;
}

.row {
  margin-top: 6%;
  background-color: #07364f;
  color: #043751;
  background-image: url("cosmicPizza.jpg");
}

body {
  background-color: #043751;
}

.large-up-3 {
  background-color: 043751;
}

h3 {
  color: #97d1ef;
}


p {
  color: #97d1ef;
}


h2 {
  color: #97d1ef;
}
